@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/* @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css'); 

:root {
    --title-font: "Playfair Display";
    --main-font: "Open Sans";
    --container-size: 1200px;
    --white: #ffffff;
    --dark: #473109;
    --black: #000000;
    --main-color: #916b24;
    --light: #f6bb14;
    --body-size: 16px;
    --title-size: 45px;
    --radius: 0px;
    --border-radius: 10px;
    --transparent: #ffffff12;
}
*{padding: 0;margin: 0; box-sizing: border-box}

main {
    padding: 4em 4em;
    background: var(--transparent);
}
body {
    color: var(--white);
    font-family: var(--main-font);
    background: var(--black);
    background-size: 100%;
    position: relative;
    min-height: 100vh;
    width: 100%;
    width: 100%;
    letter-spacing: 1.5px;
    line-height: 2;
    font-weight: 100;
    font-size: 15px;
}
a.logo {
    font-size: 2em;
    font-weight: 900;
    color: var(--white);
    font-family: var(--main-font);
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    display: block;
    text-align: center;
    padding: 25px 25px;
}
a.logo b {
    color: var(--light);
    font-weight: 900;
}
a {
    text-decoration: none;
    color: var(--light);
    transition: all .3s linear;
}
.btn {
    border: 0;
    padding: 20px 25px 20px;
    border-radius: var(--radius);
    font-size: 16px;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 500;
    background: var(--light);
    backdrop-filter: blur(4px);
    color: var(--black);
    transition: all .3s linear;
    width: fit-content;
}
.btn:hover {
    background: var(--dark);
    color: var(--white);
}
.btn-default{
    background: transparent;
    color: var(--light);
    border: 1px solid #f6bb1438;
    backdrop-filter: none;
}
.container-fluid{
	min-height: 100vh;
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-gap: 20px;
}
/* sidebar */
.sidebar-toggle {
	 margin-left: -240px;
}
 .sidebar {
	 width: 280px;
	 min-height: 100%;
	 background: var(--transparent);
	 position: relative;
	 -webkit-transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	 -ms-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
	 z-index: 100;
	 backdrop-filter: blur(10px);
}
 .sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
	 margin: -2px 0 0;
	 padding: 0 0;
}
ul.nano-content {
    border-top: 1px solid #f9f9f936;
}
 .sidebar #leftside-navigation ul li {
	 list-style-type: none;
	 border-bottom: 1px solid rgba(255, 255, 255, .05);
}
 .sidebar #leftside-navigation ul li.active > a {
	 color: var(--light);
}
 .sidebar #leftside-navigation ul li.active ul {
	 display: block;
}
 .sidebar #leftside-navigation ul li a {
	 color: #aeb2b7;
	 text-decoration: none;
	 display: flex;
	 padding: 18px 0 18px 25px;
	 font-size: 16px;
	 outline: 0;
	 -webkit-transition: all 200ms ease-in;
	 -moz-transition: all 200ms ease-in;
	 -o-transition: all 200ms ease-in;
	 -ms-transition: all 200ms ease-in;
	 transition: all 200ms ease-in;
	 align-items: center;
	 justify-content: flex-start;
	 gap: 7px;
}
 .sidebar #leftside-navigation ul li a:hover,.sidebar #leftside-navigation ul li a.active {
	 color: var(--light);
}
 .sidebar #leftside-navigation ul li a span {
	 display: inline-block;
     font-weight: 500;
}
 .sidebar #leftside-navigation ul li a i {
	 width: 20px;
}

.sidebar #leftside-navigation ul li a i:first-child {
    opacity: .5;
    margin-right: 5px;
}

.sidebar #leftside-navigation ul li a i:last-child {
    position: absolute;
    right: 8px;
    font-size: 12px;
}
 .sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
	 padding-top: 3px;
}
 .sidebar #leftside-navigation ul ul {
	 display: none;
}
 .sidebar #leftside-navigation ul ul li {
	 background: var(--transparent);
	 margin-bottom: 0;
	 margin-left: 0;
	 margin-right: 0;
	 border-bottom: none;
}
 .sidebar #leftside-navigation ul ul li a {
	 font-size: 15px;
	 padding-top: 13px;
	 padding-bottom: 13px;
	 color: #aeb2b7;
}
/* sidebar */

/* page profil */
.profil{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profil h1 {
    border-bottom: 1px solid #f9f9f936;
    padding-bottom: 10px;
    opacity: .5;
}

.profil h1 i {
    color: var(--light);
}
.profil .input-group{
    display: grid;
    grid-gap: 20px;
}

.profil .input-group:first-child {
    grid-template-columns: 1fr 1fr;
}
.profil form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    background: var(--black);
    padding: 50px;
    border-radius: var(--border-radius);
}
.profil form .row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
.profil form .row:nth-child(2){border-top: 1px solid #f6bb1438;padding-top: 2em;grid-template-columns: 1fr;}
.profil form .form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}
.profil form label{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}
.profil form input, .profil form textarea {
    width: 100%;
    padding: 20px 15px;
    background: var(--transparent);
    border: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--main-font);
    color: #999999;
    backdrop-filter: blur(10px);
    letter-spacing: 1px;
}
.profil form textarea {min-height: 90%;line-height: 2;word-spacing: 3px;font-size: 18px;}
.profil form input:focus, .profil form textarea:focus{outline: none;background: #81818136;}
textarea{min-height: 100%;}
/* page profil */

/* page leads */
table.dataTable {
    background-color: #1e1e1e;
    color: #ffffff;
  }
table.dataTable th,
table.dataTable td {border-color: #333333;padding: 15px;max-width: 250px;text-wrap: nowrap;white-space: nowrap; /* Prevent text from wrapping to a new line */overflow: hidden; /* Hide the overflow text */text-overflow: ellipsis;}

table.dataTable td button {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #e90c0c;
    font-size: 15px;
}

table.dataTable td button.wait {
    color: var(--light);
}

table.dataTable td button.read {
    color: #eeeeee7a;
}

table.dataTable td button i {}
table.dataTable thead th {background-color: #333333;color: #ffffff;}

table.dataTable tbody tr:nth-child(even) {
    background: #ffffff08;
}

#leads_filter,div#leads_paginate {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
    margin-bottom: 15px;
}

div#leads_paginate,div#leads_info {
    margin-bottom: 0;
    margin-top: 20px;
}

div#leads_paginate > a {
    background: transparent;
    margin: 10px;
}

div#leads_paginate span > a {
    border: 1px solid #f6bb143d;
    padding: 4px 10px;
    margin: 4px;
    background: transparent;
}
.dataTables_length,div#leads_info{
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
table.dataTable tfoot th {
background-color: #333333;
color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
background-color: #333333;
color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
background-color: #444444;
color: #ffffff !important;
}
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {background-color: #333333;color: #ffffff;border: 1px solid #444444;padding: 10px;}
/* page leads */